<!DOCTYPE html>
<html>
  <head>
    <title>CNS project</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      
    </script>


  </head>

  <body>

  	<h1>CNS Project - Leap Motion</h1>
    <font>
      Leap motion connected: True <br>
      Status: Running...
    </font>
    
    <br>
    <br>
    
    <div> 
      Recognized gesture: A
    </div>

    <br><br><br><br><br><br><br>


    <div align="right"> 
      <font>
        Sebastian Strumbelj,
    		Enes Özipek,
    		Florian Guilbaud,
    		Ina Boesecke
      </font>
    </div>

  </body>
</html>